<h1>Todo</h1>


<form ng-submit="addTodo(todo)">
    Title : <input type="text" ng-model="todo.title" required> <br> <br>
    Description : <textarea col="6" rows="10" ng-model="todo.description">

                    </textarea>
    <br> <br>
    <input type="submit" value="Add Todo">
</form>

<div ng-repeat="t in allTodos">
    <span>Title: {{t.title}} </span>
    <span>Description: {{t.description}}</span>
    <button ng-click="deleteTodo(t)">Remove </button>
    <button ng-click="updateTodo(t)">Update </button>
</div>